@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}

.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
  font-size: xx-large;
}

span {
  color: #F0FF00;
  font-weight: bolder;
}